<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1>Welcome to Dashboard!</h1>
    <h2>Internship Management System</h2>


     <div class="row mx-2 my-2">
      <div class="col-sm-3 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><a href="/students" style="text-decoration: none;font-size: large;">View Students</a><br>
</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><a href="/internships"style="text-decoration: none;font-size: large;">View Internships</a><br></h5>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><a href="/apply"style="text-decoration: none;font-size: large;">Apply for Internship</a><br></h5>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><a href="/analytics"style="text-decoration: none;font-size: large;">Analytics</a></h5>
          </div>
        </div>
      </div>
    </div>

<a href="/login" >Logout </a>

</body>
</html>